/* generle rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: #23272a;
}

header{
  height: 80px;
}


.container{
  width: 90%;
  max-width: 1180px; 
  margin: 0 auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.btn{
  font-size: 14px;
  color: black;
  padding: 10px 15px;
  background-color: white;
  text-decoration: none;
  border-radius: 40px;
}

.btn.big{
  font-size: 18px;
  padding: 15px 20px;
}

.btn.black{
  background-color: black;
  color: white;
}

.btn:hover{
  color:cornflowerblue;
}



/* HEADER */
header{
  height: 80px;
  background-color: #3161E0;
  line-height: 80px;
}

/* logo */
.logo, .main-nav{
  float: left;
}

.logo img{
  vertical-align: middle;
}

.main-nav{
  width: calc(100% - 202px);
  text-align: center;
}


/* menu */
.main-nav ul{
  list-style: none;
}

.main-nav ul li{
  padding: 0 15px;
  display: inline-block;
}

.main-nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.main-nav ul li a:hover{
  text-decoration: underline;
}

#accedi{
  float: right;
}

/* jumbo */

.jumbotron{
  height: 547px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
}

.jumbotron .container{
  max-width: 800px;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.jumbotron h1{
  font-size: 53px;
  margin-bottom: 40px;
}

.jumbotron p{
  margin-bottom: 30px;
  line-height: 35px;
}

.jumbotron .btn:first-of-type{
  margin-right: 20px;
}

/* main  */

.box{
  width: 100%;
  height: 400px;
}

.box:nth-child(odd) {
  background-color:white;
}

.box:nth-child(2){
  background-color:lightgray;
}

.last-box{
  background-color: lightgray;
}

.box img , .box span{
  width: 50%;
  float: left;
}

.last-box img{
  width: 100%;
}

.last-box div{
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.box span{
  margin-top: 30px;
  padding: 0 50px;
}

.main-bottom{
  position: relative;
  width: 100%;
  margin-top: 50px;
  height: 100px;
}

.box-bottom{
  width: 40%;
  text-align: center;
  background-image: url('../img/stars.svg');
  line-height: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);

}

.btn.bottom{
  background-color: lightseagreen;
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%,-50%);
}

.btn.bottom:hover{
  color: white;
}

/* footer  */

footer {
  padding-top: 30px;
  height: 500px;
  background-color: rgb(24, 26, 26);
}

footer ul{
  float: left;
  list-style: none;
  width: 15%;
}
footer ul:first-child{
  width: 30%;
}

footer ul li{
  padding: 5px;
}

h4 , h5{
  color: rgb(6, 129, 129);
}

